main {
  height: 100vh;
}

.story-section-page {
  width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.about-story-div {
}

.story-image {
  width: 9.6rem;
  height: auto;
  margin-bottom: 3.2rem;
}

.story-head {
  margin-bottom: 1.2rem;
}

.card {
  margin-top: 12rem;
  height: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
/* .card img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 32px;
} */

.card h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #8547ff;
}

.card p {
  font-size: 1em;
}
/* footer {
  color: #e5e7eb;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  margin-bottom: 0;
} */

@media (max-width: 900px) {
  main {
    height: 200vh;
  }
  .story-section-page {
    width: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* s */
  }
  .story-image {
    width: 20%;
    margin-bottom: 1.2rem;
  }
  /* footer {
    position: static;
    margin-bottom: 0;
    width: 100%;
  } */
  .card {
    margin-top: 15rem;
    /* height: 30%; */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }
}
