@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
html {
  font-size: 62.5%;
} */

body {
  font-family: "Roboto", sans-serif;
}
.header,
.hero-section,
footer {
  background-color: #1f2937;
}

.header {
  width: 100%;
  height: 4.6rem;
  color: #e5e7eb;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* margin-bottom: 9.6rem; */
  z-index: 9999;
}
.navbar li {
  list-style: none;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navbar-link:link,
.navbar-link:visited {
  text-decoration: none;
  color: #e5e7eb;
  cursor: pointer;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-family: "Roboto";
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 32px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.hero-p {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.hero-section {
  display: flex;
  justify-content: center;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  gap: 9.6rem;
  margin-top: 9.6rem;
}
.hero-image-div {
  flex: 1;
}

.hero-text-box {
  flex: 300px;
}
.hero-text-box p {
  color: #e5e7eb;
  margin-bottom: 1.2rem;
}
.hero-image {
  width: 100%;
}
.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: #e5e7eb;
  cursor: pointer;
}

.btn-animation {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
/* .btn:hover,
.btn-link:active {
  background-color: #e5e7eb;
  color: #3882f6;
} */
.btn {
  padding: 12px 24px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
}

.about-section {
  padding: 4.8rem 4.8rem 9.6rem 4.8rem;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.about-head {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  color: #1f2937;
}

.icon {
  stroke: #3882f6;
  height: 2.4rem;
  margin-bottom: 1.4rem;
}
.about p {
  color: #868e96;
  line-height: 1.7;
}
.inspiration-section {
  max-width: 80rem;
  padding: 3.4rem;
  background-color: #e9ecef;
  margin: auto 25rem;
  margin-bottom: 9.6rem;
}
.insp-div {
  margin: 0 4.8rem;
  position: relative;
}
.inspiration {
  color: #1f2937;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: lighter;
  line-height: 1.3;
  padding: 0.8rem 1.2rem;
  font-style: italic;
}

.author {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  bottom: -0.5rem;
  right: 4.8rem;
  z-index: 900;
}
.call-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.6rem;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 3.2rem 4.8rem;
  margin: 9.6rem 20rem;
}
.action-btn {
  border: 2px solid #e5e7eb;
}
footer {
  color: #e5e7eb;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  margin-bottom: 0;
}
.story-section-page {
  height: 40vh;
  /* max-width: 80rem; */
  margin-bottom: 3.4rem;
}

.about-story-div {
  /* max-width: 80rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9.6rem 30rem;
  gap: 4.8rem;
  margin-bottom: 1.2rem;
}

.about-section-div {
  /* max-width: 80rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30rem;
  gap: 4.8rem;
  margin-bottom: 1.2rem;
}
.story-image {
  height: 9.6rem;
}
.story-head {
  font-size: 2.4rem;
  letter-spacing: -0.2rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  color: #1f2937;
}
.story {
  line-height: 1.7;
  font-weight: 400;
  color: #868e96;
}

.contact-section {
  height: 100vh;
}
.contact {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 9.6rem;
  padding: 9.6rem 20rem;
}
.contact-form {
  flex: 2;
}
.contact-text {
  flex: 1;
}

.contact h3 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #1f2937;
}
.contact h4 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #1f2937;
}

.contact p {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #adb5bd;
}
.input-group {
  position: relative;
}
.placeholder {
  /* position: absolute; */
  top: 10px;
  left: 8px;
  padding: 0 18px;
  color: #666;
  transition: 0.6s;
  pointer-events: none;
}

.placeholder-lname {
  /* position: absolute; */
  top: 10px;
  right: 300px;
  padding: 0 18px;
  color: #666;
  transition: 0.6s;
  pointer-events: none;
}
.input-form:focus ~ .placeholder,
.input-form:valid ~ .placeholder {
  transform: translateX(10px) translateY(-20px);
  color: #3882f6;
  font-size: 12px;
  background-color: #fff;
  padding-left: 35px;
}

.input-lname:focus ~ .placeholder-lname,
.input-form:valid ~ .placeholder-lname {
  transform: translateX(10px) translateY(-20px);
  color: #3882f6;
  font-size: 12px;
  background-color: #fff;
}
form input[type="text"],
form input[type="number"],
form input[type="email"] {
  font-size: 18px;
  width: 300px;
  height: 2.4rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 20px;
  border: 2px solid #3882f6;
  padding: 0.8rem 1.6rem;
  outline: none;
}
form input[placeholder] {
  padding: 0 18px;
  color: #666;
  font-weight: bold;
}

textarea {
  resize: none;
  display: block;
  width: 625px;
  height: 300px;
  border: 2px solid #e5e7eb;
  outline: 1px solid #3882f6;
  border-radius: 10px;
  padding: 1.2rem 1.6rem;
  margin-bottom: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.submit {
  border: none;
  width: 200px;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    text-align: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 30vh;
    /* margin-bottom: 6.2rem; */
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }
  .hero-section {
    padding: 96px 12px;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-section {
    padding: 24px;
  }
  .inspiration-section {
    margin-top: 0;
    max-width: 100%;
    padding: 24px 0;
    margin: 1.2rem 0;
  }
  .insp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 8px;
  }
  .inspiration {
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
    /* padding: 8px 12px; */
    text-align: center;
  }
  .author {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
  .call-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    gap: 2.4rem;
    padding: 24px 12px;
  }
}
