.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: 15rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.card img {
  max-width: 100%;
  border-radius: 50%;
}

.card h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #8547ff;
}

.card p {
  font-size: 1em;
}

@media (max-width: 700px) {
  .about-section-div {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    margin-bottom: 9.6rem;
  }
}
